<div class="container">

  <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
    <app-update-categorie [categorie]="updatedCat" [categorie]="updatedCat"
      (categorieUpdated)="categorieUpdated($event)">></app-update-categorie> <!--Lorsque l'event est emi dans catégorieUpdated, je le recupère dans l'appel, j'appelle
      la méthode catégorieUpdated en lui passant le $event en paramètre-->
    <!--transmission de données grâce au champs u^pdate cat-->
  </div>

  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nom Catégorie</th>
          </tr>
        </thead>
        <tbody *ngFor="let cat of categories">
          <tr> <!--Parcours du tableau des catégories-->
            <td>{{cat.idCat}}</td> <!--Affiche l'id-->
            <td>{{cat.nomCat}}</td><!--affiche le nom de la catégorie-->
            <td><a class="btn btn-success" (click)="updateCat(cat)">Editer</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>